<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout-bootstrap">
    <head>
        <title>Network configuration</title>
        <script>
            function initSleepPeriodInputs() {
                $("#millisSleepPeriod").spinner();
                $("#secondsSleepPeriod").spinner();
                $("#minutesSleepPeriod").spinner();
                $("#hoursSleepPeriod").spinner();
            }

            function initWakeTimeInputs() {
                $("#millisWakeTime").spinner();
                $("#secondsWakeTime").spinner();
                $("#minutesWakeTime").spinner();
                $("#hoursWakeTime").spinner();
            }

            $(document).ready(function() {
                initSleepPeriodInputs();
                initWakeTimeInputs();
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Network configuration</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Sleep period
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form role="form" th:action="@{/network/saveSleepPeriod}" th:object="${sleepPeriod}" method="post">
                                            <div class="form-group">
                                                <input min="10" max="990" step="10" th:field="*{millisSleepPeriod}" id="millisSleepPeriod" name="millisSleepPeriod" />
                                                <label>Milliseconds</label>
                                            </div>
                                            <div class="form-group">
                                                <input min="0" max="59" step="1" th:field="*{secondsSleepPeriod}" id="secondsSleepPeriod" name="secondsSleepPeriod" />
                                                <label>Seconds</label>
                                            </div>
                                            <div class="form-group">
                                                <input min="0" max="59" step="1" th:field="*{minutesSleepPeriod}" id="minutesSleepPeriod" name="minutesSleepPeriod" />
                                                <label>Minutes</label>
                                            </div>
                                            <div class="form-group">
                                                <input min="0" max="3" step="1" th:field="*{hoursSleepPeriod}" id="hoursSleepPeriod" name="hoursSleepPeriod" />
                                                <label>Hours</label>
                                            </div>
                                            <button type="submit" class="btn btn-default">Save</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Wake time
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form role="form" th:action="@{/network/saveWakeTime}" th:object="${wakeTime}" method="post">
                                            <div class="form-group">
                                                <input min="0" max="999" step="1" th:field="*{millisWakeTime}" id="millisWakeTime" name="millisWakeTime" />
                                                <label>Milliseconds</label>
                                            </div>
                                            <div class="form-group">
                                                <input min="0" max="59" step="1" th:field="*{secondsWakeTime}" id="secondsWakeTime" name="secondsWakeTime" />
                                                <label>Seconds</label>
                                            </div>
                                            <div class="form-group">
                                                <input min="0" max="59" step="1" th:field="*{minutesWakeTime}" id="minutesWakeTime" name="minutesWakeTime" />
                                                <label>Minutes</label>
                                            </div>
                                            <button type="submit" class="btn btn-default">Save</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <a th:href="@{/nodes}" class="btn btn-default">
                        <span class="fa fa-mail-reply"></span>
                        Return
                    </a>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </body>
</html>
